@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');



* {

    font-family: 'Lexend', sans-serif;
}
  
:root, body, html {
    background-color: #ffffff;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
}

#__next {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

h1 {
    color: #FAFAFA;
    font-size: 4rem;
}

button {
    background-color: #301E67;
}

input 
{
    background-color: #FAFAFA;
}



/* Add this in your CSS file */
/* Add this in your CSS file */
@keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  .spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
  }


  .title {
    text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.5);
    color: #000000;
  }
  
  .modal {
    /* other styles */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s transform 0.5s;
  }
  
  .modal-open {
    opacity: 1;
    visibility: visible;
  }
  




/* #5E5DF0 */